.follower-card {
    width : 240px ;
    height : 200px;
    border-radius: 4px;
    box-shadow: 0.2px 0.2px 0px grey;
    background : var(--card-background);
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content : center;
    gap :15px;
    cursor : pointer;
}


.follower-card:hover{
    background : var(--card-hover-background);
    
}

.follower-card:hover .content h6{
    color : var(--card-hover-text-color)
}

.header{
    display: flex;
    gap :15px;
    align-items: center;
}


.footer { 
    display: flex;
    gap :10px;
    align-items: center;
}


.content{
    text-align: center;
}

.footer img {
    height : 6px !important;
}

.green {
    color : var(--green);
}

.red {
    color :var(--red);
}

.content h3{ 
   margin : 0; 
   font-size: 45px;
   font-weight: 900;
}

.content h6 {
    margin : 0 ; 
    margin-top :5px;
    color : var(--card-text-color);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing:2.5px;
}

.facebook {
    border-top : 3px solid hsl(208, 92%, 53%);
}

.twitter {
    border-top : 3px solid hsl(203, 89%, 53%);
    
}

.instagram {
    /* border-width : 3px;
    border-style : solid;
    border-image: linear-gradient(to right , hsl(37, 97%, 70%) , hsl(329, 70%, 58%)) ; */
    border : 3px solid;
    border-image-slice: 1;
    border-width : 3px;
    border-image-source:  linear-gradient(to right , hsl(37, 97%, 70%) , hsl(329, 70%, 58%)) ;
    border-left : 0;
    border-right : 0;
    border-bottom: 0;
}

.youtube { 
   border-top :3px solid hsl(347 , 98%, 39%)
}


@media screen  and (max-width :500px){
    
}