.overview-container {
    width : 70%;
    margin : auto;
    margin-top:70px;
    padding-bottom :30px;
}

.overview-container h2{
    font-size: 30px;
    font-weight : 900;
    letter-spacing : 1px;
    color :  hsl(230, 22%, 74%);
}

.overview-contents{
    display : flex ; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:30px;
}


.overview-card {
    width : 240px ;
    height :100px;
    border-radius: 4px;
    box-shadow: 0.2px 0.2px 0px grey;
    background : var(--card-background);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;   
    cursor : pointer ;
}


.overview-card:hover{
    background : var(--card-hover-background);
}

.overview-card:hover .header p {
    color : var(--card-hover-text-color) ;
}

.overview-card .header { 
    display : flex ; 
    justify-content: space-around;
}

.overview-card .footer { 
    display : flex ; 
    justify-content: space-around;
}

.footer div { 
    display : flex; 
    gap :5px;
    align-items : center;
}

.negative{
    color : var(--red)
}

.positive{
    color : var(--green)
}


.header p{
    color : var(--card-text-color);
    font-weight: 500;
    font-size: large;
}


.footer h5{
   font-size: 25px;
   font-weight :700;
   margin : 0;
}


@media screen  and (max-width :500px){
    .overview-container{
        width :100%;
    }
    .overview-card{
        width : 80%;
    }
    .overview-container h2{
        padding-left :50px;
    }
    
}


@media screen  and (max-width :1400px){
    .overview-card{
        width : 200px;
        justify-content: space-evenly;
    }
    
}