.app-container{
    margin : 0;
    color: var(--text-primary);
    background-color: var(--background);
    padding: 0px;
    min-height:100vh;
    height :100%;
    transition: all .5s;
  }
button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    float: right;
    transition: all .5s;
  }

